@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Extensions
@using SharedComponents.Models

@{
  if (Label.ShowLabel)
  {
    <foreignObject class="graphml-link" x="@X.ToInvariantString()" y="@Y.ToInvariantString()">
        <div style="font-size:16px;"  ><!--class="link-label"-->
        <EditForm Model="Label">
            <InputNumber class="form-group" @bind-Value="Label.EdgeDistance" style="width:40px;pointer-events: all;"  ></InputNumber>
        </EditForm> 
        </div>
    </foreignObject>
  }
}

@code {

  [Parameter]
  public DiagramLinkLabel Label { get; set; }

  [Parameter]
  public Point Position { get; set; }

  private double X => Position.X + (Label.Offset?.X ?? 0);
  private double Y => Position.Y + (Label.Offset?.Y ?? 0);
}